@use "../../base/variables" as *;

.thumbnail-placeholder {

	// Zastepczy obrazek wyróżniający w skrótach wpisów
	.blog &,
	.category &,
	.archive & {
		background-color: $silver;
		height: 18rem;
		margin-block: 0 0;
		width: 33rem;
	}
}